.hero-container {
  background-image: url(../images/team.jpg);
  background-size: cover;
  background-position: center;
  width: 1440;
  height: 700;
  padding-top: 56px;
}

.hero-title {
  color: var(--c-white);
}

.hero-list {
  max-width: 500px;
  margin-top: 18px;
  color: var(--c-white);
}

.hero-button {
  margin-top: 48px;
  padding: 10px 52px;
  border-radius: 32px;
  color: #ffffff;
  background-color: var(--c-button);
  box-shadow: 2px 2px 6px 0px #0000002e;
}
