@use '../utils/mixins' as *;

.information {
  padding-top: 180px;
  padding-bottom: 180px;
}

.information-item {
  margin: auto;
  margin-top: 70px;
  max-width: 1064px;
  border-radius: 44px;
  padding: 50px 98px 58px 110px;
  box-shadow: 0px 7px 14px 0px #0000003b;

  background-color: var(--c-teal-color);

  @include mobile {
    padding: 50px 8px 60px 8px;
  }
}

.information-list__link {
  text-align: center;
  color: var(--c-primary);

  &:not(:first-child) {
    margin-top: 40px;
  }

  @include mobile {
    &:first-child {
      display: none;
    }
  }
}

.information-list__button {
  display: flex;
  margin: auto;
  margin-top: 40px;

  padding: 10px 32px;
  border-radius: 32px;
  box-shadow: 1px 4px 6.6px 0px #00000030;

  background-color: var(--c-lemon);

  @include mobile {
    margin-top: 50px;
  }
}
