@use '../utils/mixins' as *;

.menu {
  padding-top: 180px;

  @include mobile {
    padding-top: 120px;
  }
}

.menu-list__title {
  position: relative;
  z-index: 0;
}

.menu-list__title::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  right: 95px;
  bottom: 8px;
  width: 129px;
  height: 24px;
  z-index: -1;
  background-color: var(--c-green-color);
}

.menu-wrapper {
  position: relative;
  margin-top: 70px;
  padding: 60px 68px 41px 86px;
  border: 2px solid var(--c-black);
  border-radius: 88px;

  @include mobile {
    padding: 41px 10px 50px 18px;
    border-radius: 32px;
  }
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 218px;

  @include mobile {
    display: block;
  }
}

.menu-list__item {
  margin-top: 24px;
}

.menu-list__link:not(:first-child) {
  margin-top: 11px;
}

.menu-list__link {
  display: flex;
  justify-content: space-between;
}

.menu-list__type {
  @include mobile {
    max-width: 181px;
  }
}

.menu-list__dose {
  @include mobile {
    flex-shrink: 0;
  }
}

.menu-list__inner {
  flex-basis: calc((100% - 218px) / 2);

  @include mobile {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}

.menu-list__item {
  margin-top: 24px;
}

.menu-text {
  position: absolute;

  right: 68px;
  bottom: 41px;
  max-width: 434px;
  width: 100%;

  @include mobile {
    position: static;
    margin-top: 40px;
  }
}

.menu-title__span {
  background-color: var(--c-green-color);
}
