@use '../utils/mixins' as *;

.reviews {
  padding-top: 126px;
}

.reviews-text {
  max-width: 766px;
  margin-top: 22px;
}

.reviews-list {
  display: flex;
  gap: 20px;
  margin-top: 70px;

  @include mobile {
    display: block;
  }
}

.reviews-list__link {
  flex-basis: calc((100% - 40px) / 3);
  padding: 30px 19px 63px 33px;
  border-radius: 44px;
  border: 2px solid var(--c-green-color);
  background-color: var(--c-grey-color);

  @include mobile {
    padding: 30px 20px 57px 18px;
    &:not(:first-child) {
      display: none;
    }
  }
}

.reviews-list__item {
  margin-top: 17px;
}
