@use '../utils/mixins' as *;

.services {
  margin-top: 180px;

  @include mobile {
    padding-top: 120px;
  }
}

.services-list {
  display: flex;
  gap: 20px;
  margin-top: 70px;

  @include mobile {
    display: block;
  }
}

.services-list__link {
  flex-basis: calc((100% - 40px) / 3);
  border-radius: 32px;
  box-shadow: 1px 1px 7.4px 0px #0000002e;

  background-color: var(--c-groups);

  @include mobile {
    &:not(:first-child) {
      display: none;
    }
  }
}

.services-list__image {
  border-radius: 32px;
}

.services-list__description {
  padding: 8px 30px 54px 28px;
}

.services-list__text {
  margin-top: 18px;
}

.services-list__word {
  background-color: var(--c-green-color);
}
