@use '../utils/mixins' as *;

.team {
  padding-top: 180px;

  @include mobile {
    padding-top: 120px;
  }
}

.team-item {
  display: flex;
}

.team-list {
  display: flex;
  margin-top: 70px;
  border-radius: 32px;
  box-shadow: 1px 1px 7.4px 0px #0000002e;

  background-color: var(--c-grey-color);

  @include mobile {
    display: block;
    margin-top: 40px;
  }
}

.team-list__img {
  border-radius: 32px;
}

.team-list__item {
  padding: 32px 25px 60px 53px;

  @include mobile {
    padding: 20px 14px 40px 14px;
  }
}

.team-list__link {
  margin-top: 16px;
}

.team-list__text {
  margin-top: 68px;

  @include mobile {
    margin-top: 32px;
  }
}
