.footer {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: var(--c-footer);
}

.footer-container {
  padding: 37px 142px 50px 82px;
}

.footer-item {
  display: flex;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-left: 119px;
}

.footer-list__link {
  color: var(--c-white-color);
}

.footer-nav {
  margin-top: 40px;
}

.footer-nav__list {
  display: flex;
  gap: 700px;
  color: var(--c-white-color);
}
