.groups-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
}

.groups-list__div {
  width: 413px;
  padding: 10px 38px 25px 39px;
}

.groups-list__item {
  flex-basis: calc((100% - 40px) / 3);

  border-radius: 44px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  background-color: var(--c-groups);
}

.groups-list__item:last-child {
  flex-basis: calc(100% - ((100% - 40px) / 3) - 20px);
}

.groups-list__title {
  text-align: center;
}

.groups-list__link {
  text-align: center;
  margin-top: 8px;
  color: var(--c-groups-class);
}

.groups-list__class {
  margin-top: 18px;
}

.groups-list__day {
  margin-top: 12px;

  color: var(--c-groups-class);
}

.groups-list__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 22px;
  padding: 10px 42px;
  border-radius: 32px;
  color: var(--c-black);
  background-color: var(--c-groups-class);
}
