.parents {
  padding-top: 224px;
}

.parents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parents-title {
  text-align: center;
}

.parents-text {
  text-align: center;
  max-width: 737px;
  margin-top: 30px;
}

.parents-list {
  max-width: 958px;
  width: 100%;
  margin-top: 50px;
}

.parents-list__link {
  display: flex;
  max-width: 958px;
  width: 100%;
  padding: 12px 12px;
  border-radius: 12px;
  background-color: var(--c-groups);

  &:not(:first-child) {
    margin-top: 32px;
  }
}

.parents-list__img {
  margin-left: auto;
}
