@use './mixins' as *;

.h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.h2 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;

  @include mobile {
    font-size: 28px;
  }
}

.h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  @include mobile {
    font-size: 15px;
  }
}

.h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.h5 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;

  @include mobile {
    font-size: 28px;
  }
}

.h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  @include mobile {
    font-size: 15px;
    line-height: 22px;
  }
}

.l1 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  @include mobile {
    font-size: 15px;
    line-height: 22px;
  }
}

.l2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.l3 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;

  @include mobile {
    font-size: 22px;
  }
}

.l4 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;

  @include mobile {
    font-size: 18px;
  }
}

.l5 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
}

.l6 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.t1 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.t2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
}

.t3 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
}

.t4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.t5 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 32px;
}

.t6 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.d1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.d2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.d3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
}

.d4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.d5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.d6 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.p1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(28 / 26);
}

.p2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: calc(28 / 16);
  font-weight: 400;
}

.p3 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
}

.p4 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.p5 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
}

.p6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.a1 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
