:root {
  --c-primary: #f9f0e5;
  --c-button: #f29155;
  --c-white: #f9f0e5;
  --c-text: #d4a971;
  --c-cta: #efca81;
  --c-black: #000000;
  --c-groups: #efe5db;
  --c-groups-class: #ef9156;
  --c-green-color: #afca0b;
  --c-grey-color: #efe5db;
  --c-teal-color: #3cb7b2;
  --c-lemon: #f0e73d;
  --c-footer: #1d1d1b;
  --c-white-color: #ffffff;
  --c-yellow: #efc981;
}
