<footer class="footer">
  <div class="footer-container container">
    <div class="footer-item">
      <img
        src="./images/footer/footer.png"
        alt=""
        width="195px"
        height="61px"
      />
      <ul class="footer-list">
        <li class="footer-list__link d2">Чому ми?</li>
        <li class="footer-list__link d2">Заняття</li>
        <li class="footer-list__link d2">Групи</li>
        <li class="footer-list__link d2">Відгуки</li>
        <li class="footer-list__link d2">Часті запитання</li>
        <li class="footer-list__link d2">Контакти</li>
      </ul>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item d3">Copy right @2022</li>
        <li class="footer-nav__item d3">Design by Recipe</li>
      </ul>
    </div>
    <div></div>
  </div>
</footer>
