<header class="header">
  <div class="header-container container">
    <img
    class="header-img"
    src="./images/header.png"
    alt=""
    width="232" 
    height="58"/>

    <ul class="header-list">
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">Why us?</a>
      </li>
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">Occupation</a>
      </li>
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">Groups</a>
      </li>
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">Revievs</a>
      </li>
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">FAQ</a>
      </li>
      <li class="heder_list__item">
        <a class="header-list__text h1" href="">Contacts</a>
      </li>
    </ul>
    <ul class="language">
      <li class="language_item">UA</li>
      <li class="language_item">EN</li>
    </ul>
  </div>
</header>
