<section class="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-list h5">
      Why do parents choose Kids' Force kindergarten?
    </h2>
    <p class="benefits-text h6">
      Kids' Force is a combination of standards, modernity and creativity. We
      select the best of all traditional pedagogies, improve them and combine it
      with our own methodology of preschool education.
    </p>
    <ul class="benefits-title">
      <li class="benefits-title__list l2">
        <svg class="benefits-title__svg" width="78" height="57">
          <use href="./images/sprite.svg#icon-icon"></use>
        </svg>

        <p class="benefits-title__text h6">
          <span class="benefits-title__span l1">We creatively develop children in all directions.</span>  Art and singing are
          not the only areaswhere children show their creativity. Mathematics,
          English and reading classes are also accompanied by the use of
          non-standard thinking of children.
        </p>
      </li>
      <li class="benefits-title__list l2">
        <svg class="benefits-title__svg" width="78" height="57">
            <use href="./images/sprite.svg#icon-icon"></use>
          </svg>
        
        <p class="benefits-title__text h6">
         <span class="benefits-title__span l1"> We use the author's method of child development .</span> Our teaching method
          helps children to explore the world in a new way, to learn material
          through observation and interaction with the world around them.
        </p>
      </li>
   
      <li class="benefits-title__list l2">
        <svg class="benefits-title__svg" width="78" height="57">
            <use href="./images/sprite.svg#icon-icon"></use>
          </svg>
        <p class="benefits-title__text h6">
          <span class="benefits-title__span l1">Live streaming.</span>  Parents can see what their child is doing in the app
          at any time
        </p>
      </li>
      <li class="benefits-title__list l2">
        <svg class="benefits-title__svg" width="78" height="57">
            <use href="./images/sprite.svg#icon-icon"></use>
          </svg>
        <p class="benefits-title__text h6">
       <span class="benefits-title__span l1">   Small groups.</span>  We form small groups to make it comfortable for the
          child and the teacher. Then each child will be fully covered with
          attention
        </p>
      </li>
    </ul>
  </div>
</section>
