<section class="classes">
    <div class="classes-container container">
      <h2 class="classes-title h5">Developmental classes</h2>
  
      <div class="classes-wrapper">
        <ul class="buttons-list">
          <li class="buttons-list__item">
            <button class="buttons-list__button" type="button">
              <img
                class="buttons-list__image"
                src="./images/classes/classes.svg"
                alt="human svg"
              />
  
              <h3 class="buttons-list__title p1">2-3</h3>
            </button>
          </li>
  
          <li class="buttons-list__item">
            <button class="buttons-list__button" type="button">
              <img
                class="buttons-list__image"
                src="./images/classes/classes.svg"
                alt="human svg"
              />
  
              <h3 class="buttons-list__title p1">3-4</h3>
            </button>
          </li>
  
          <li class="buttons-list__item">
            <button class="buttons-list__button" type="button">
              <img
                class="buttons-list__image"
                src="./images/classes/classes.svg"
                alt="human svg"
              />
  
              <h3 class="buttons-list__title p1">4-5</h3>
            </button>
          </li>
  
          <li class="buttons-list__item">
            <button class="buttons-list__button" type="button">
              <img
                class="buttons-list__image"
                src="./images/classes/classes.svg"
                alt="human svg"
              />
  
              <h3 class="buttons-list__title p1">5-6</h3>
            </button>
          </li>
        </ul>
  
        <ul class="schedule-list">
          <li class="schedule-list__item">
            <h3 class="schedule-list__title l6">Monday</h3>
  
            <ul class="items-list">
              <li class="items-list__item p2">English-tourists</li>
              <li class="items-list__item p2">Math Kid's</li>
              <li class="items-list__item p2">Horeo</li>
            </ul>
          </li>
  
          <li class="schedule-list__item">
            <h3 class="schedule-list__title l6">Tuesday</h3>
  
            <ul class="items-list">
              <li class="items-list__item p2">Visiting the reader</li>
              <li class="items-list__item p2">Decoration</li>
              <li class="items-list__item p2">Vocalistics (Singing)</li>
            </ul>
          </li>
  
          <li class="schedule-list__item">
            <h3 class="schedule-list__title l6">Wednesday</h3>
  
            <ul class="items-list">
              <li class="items-list__item p2">Psychotherapy</li>
              <li class="items-list__item p2">Logopedic therapist session</li>
              <li class="items-list__item p2">LegoBud</li>
            </ul>
          </li>
  
          <li class="schedule-list__item">
            <h3 class="schedule-list__title l6">Thursday</h3>
  
            <ul class="items-list">
              <li class="items-list__item p2">Math Kid's</li>
              <li class="items-list__item p2">Logicoland</li>
              <li class="items-list__item p2">In the country of artists</li>
            </ul>
          </li>
  
          <li class="schedule-list__item">
            <h3 class="schedule-list__title l6">Friday</h3>
  
            <ul class="items-list">
              <li class="items-list__item p2">English-tourists</li>
              <li class="items-list__item p2">Visiting the Reader</li>
              <li class="items-list__item p2">Fantasy of fairy tales</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
  