<section class="contacts">
  <img class="contacts-img" src="./images/contacts/contacts.svg" alt="" />

  <div class="contacts-container container">
    <div class="contacts-wrapper">
      <h2 class="contacts-title p3">
        Fill out the application and we will contact you
      </h2>

      <div class="contacts-inner">
        <form class="contacts-inner__form">
          <label class="contacts-inner__label">
            <input
              class="contacts-inner__input"
              type=" Name"
              name="Name"
              placeholder="Alex Smith"
            />
          </label>
          <label class="contacts-inner__label">
            <input
              class="contacts-inner__input"
              type="Name"
              name="Name"
              placeholder="/"
            />
          </label>
        </form>
        <button class="contacts-inner__button" type="submit">Send</button>
      </div>
    </div>

    <div class="contacts-icon">
      <img
        class="contacts-wrapper__img"
        src="./images/contacts/map.jpg"
        alt=""
        width="522px"
        height="390px"
      />

      <div class="contacts-svg">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <svg class="contacts-list__icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="contacts-list__item">
            <svg class="contacts-list__icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="contacts-list__item">
            <svg class="contacts-list__icon" width="28" height="30">
              <use href="./images/sprite.svg#icon-viber"></use>
            </svg>
          </li>
        </ul>

        <ul class="contacts-item">
          <li class="contacts-item__link">
            <svg class="" width="20" height="29">
              <use href="./images/sprite.svg#icon-point"></use>
            </svg>
            <a href="">м. Львів вул. Львівська 32</a>
          </li>
          <li class="contacts-item__link">
            <svg class="" width="27" height="27">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            <a href="">380 98 34 32 333</a>
          </li>
          <li class="contacts-item__link">
            <svg class="" width="27" height="22">
              <use href="./images/sprite.svg#icon-gmail"></use>
            </svg>
            <a href="">forclients@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
