<section class="cta">
  <div class="cta-container container">
    <div class="cta-title">
      <img
        class="cta-img"
        src="./images/cta/cta.png"
        alt=""
        width="522px"
        height="415px"
      />
      <div class="cta-cta">
        <p class="cta-title__link l1">
          Your cooperation and dedication to our kindergarten is valuable to us.
          Please share your questions and comments - we are always open to
          communication.
        </p>
        <form class="cta-title__form">
          <label class="cta-title__label">
            <input
              class="cta-title__input"
              type=" Name"
              name="Name"
              placeholder="Name"
            />
          </label>
          <label class="cta-title__label">
            <input
              class="cta-title__input"
              type="Phone number"
              name="Phone number"
              placeholder="Phone number"
            />
          </label>
        </form>
        <button class="cta-title__button">Order feedback</button>
      </div>
    </div>
  </div>
</section>
