<section class="gallery">
  <div class="gallery-container container">
<div class="gallery-item">
  <h2 class="gallery-title h5">Gallery</h2>
<div class="gallery-icon">
  <svg class="gallery-icon__svg" width="48" height="48">
    <use href="./images/sprite.svg#icon-swiper-left"></use>
  </svg>

  <svg class="gallery-icon__svg" width="48" height="48">
    <use href="./images/sprite.svg#icon-swiper-right"></use>
  </svg>
</div>
</div>

    <div class="gallery-title__list">
      <img
        class="gallery-title__img"
        src="./images/gallery/gallery1.jpeg"
        alt=""
        width="629px"
        height="490px"
      />

      <img
        class="gallery-title__img"
        src="./images/gallery/gallery2.jpeg"
        alt=""
        width="629px"
        height="490px"
      />
    </div>
  </div>
</section>
