<section class="information">
  <div class="information-container container">
    <h2 class="information-title h5">Our partners</h2>

    <div class="information-item">
      <ul class="information-list">
        <li class="information-list__link d4">
          We are always developing, learning new things and implementing them in
          our project. We are open to cooperation and build long-term
          partnerships with those, whose services meet high requirements and
          standards. Our cooperation requires honesty, responsibility and
          integrity. We appreciate complex solutions for kindergarten
          development.
        </li>

        <li class="information-list__link d4">
          To cooperate with us, please send an e-mail or call us. The contact
          details are listed at the bottom of the site. Thank you for your
          partnership!
        </li>
      </ul>
      <button class="information-list__button d5">View our partners</button>
    </div>
  </div>
</section>
