<section class="menu">
  <div class="menu-container container">
    <h2 class="menu-title h5">How we feed children</h2>
    <div class="menu-wrapper">
      <ul class="menu-list">
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5"><span class="menu-title__span">Breakf</span>ast</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">Oatmeal with seasonal fruits <span class="menu-list__dose">200 gr</span></li>
            <li class="menu-list__link l2">Pancakes with jam <span class="menu-list__dose">200 gr</span></li>
            <li class="menu-list__link l2">Baked scrambled eggs with cheese and chicken <span class="menu-list__dose">200 gr</span></li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5"><span class="menu-title__span">Main di</span>shes</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">Rice with vegetables and chicken breast <span class="menu-list__dose">​150/80 g</span></li>
            <li class="menu-list__link l2">Boiled buckwheat with meat roll <span class="menu-list__dose">​150/80 g</span></li>
            <li class="menu-list__link l2">Mashed potatoes with baked nuggets <span class="menu-list__dose">​150/80 g</span></li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5"><span class="menu-title__span">First c</span>ourses</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">Cheese cream soup with broccoli <span class="menu-list__dose">200 gr</span></li>
            <li class="menu-list__link l2">Broth with meat <span class="menu-list__dose">200 gr</span></li>
            <li class="menu-list__link l2">Vegetable soup with rice <span class="menu-list__dose">200 gr</span></li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5"><span class="menu-title__span">Drinks</span></h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">Compote <span class="menu-list__dose">​150 ml</span></li>
            <li class="menu-list__link l2">Herbal tea <span class="menu-list__dose">​150 ml</span></li>
            <li class="menu-list__link l2">Juice <span class="menu-list__dose">​150 ml</span></li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5"><span class="menu-title__span">Desser</span>ts</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">Fruits <span class="menu-list__dose">30 gr</span></li>
          </ul>
        </li>
      </ul>
      <p class="menu-text p6">
        There are 5 meals a day and each and every one of them is developed in
        collaboration with a dietitian, a licensed nutritionist and a chef. We
        do not use semi-finished products and prepare meals using only fresh
        ingredients.
      </p>
    </div>
  </div>
</section>
