<section class="menu">
  <div class="menu-container container">
    <h2 class="menu-title">How we feed children</h2>
    <ul class="menu-list">
      <li class="menu-list__link">
        <h3 class="menu-list__title">Breakfast</h3>
        <ul class="menu-list__group">
          <li class="menu-list__item">Oatmeal with seasonal fruits 200 gr</li>
          <li class="menu-list__item">Pancakes with jam 200 gr</li>
          <li class="menu-list__item">Baked scrambled eggs with cheese and chicken 200 gr</li>
        </ul>
      </li>
      <li class="menu-list__link">
        <h3 class="menu-list__title">Main dishes</h3>
        <ul class="menu-list__group">
          <li class="menu-list__item">Rice with vegetables and chicken breast ​150/80 g</li>
          <li class="menu-list__item">Boiled buckwheat with meat roll ​150/80 g</li>
          <li class="menu-list__item">Mashed potatoes with baked nuggets ​150/80 g</li>
        </ul>
      </li>
      <li class="menu-list__link">
        <h3 class="menu-list__title">First courses</h3>
        <ul class="menu-list__group">
          <li class="menu-list__item">Cheese cream soup with broccoli 200 gr</li>
          <li class="menu-list__item">Broth with meat 200 gr</li>
          <li class="menu-list__item">Vegetable soup with rice 200 gr</li>
        </ul>
      </li>
      <li class="menu-list__link">
        <h3 class="menu-list__title">Drinks</h3>
        <ul class="menu-list__group">
          <li class="menu-list__item">Compote ​150 ml</li>
          <li class="menu-list__item">Herbal tea ​150 ml</li>
          <li class="menu-list__item">Juice ​150 ml</li>
        </ul>
      </li>
      <li class="menu-list__link">
        <h3 class="menu-list__title">Desserts</h3>
        <ul class="menu-list__group">
          <li class="menu-list__item">Fruits 30 gr </li>
        </ul>
      </li>
      <li class="menu-list__link">
        <p class="menu-list__text">
          There are 5 meals a day and each and every one of them is developed in
          collaboration with a dietitian, a licensed nutritionist and a chef. We
          do not use semi-finished products and prepare meals using only fresh
          ingredients.
        </p>
      </li>
    </ul>
  </div>
</section>
