<section class="menu">
  <div class="menu-container container">
    <h2 class="menu-title h5">How we feed children</h2>
    <div class="menu-wrapper">
      <ul class="menu-list">
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5">Breakfast</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Oatmeal with seasonal fruits</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Pancakes with jam</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Baked scrambled eggs with cheese and chicken</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5">Main dishes</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Rice with vegetables and chicken breast</h4>
              <span class="menu-list__dose">​150/80 g</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Boiled buckwheat with meat roll</h4>
              <span class="menu-list__dose">​150/80 g</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Mashed potatoes with baked nuggets</h4>
              <span class="menu-list__dose">​150/80 g</span>
            </li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5">First courses</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Cheese cream soup with broccoli</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Broth with meat</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Vegetable soup with rice</h4>
              <span class="menu-list__dose">200 gr</span>
            </li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5">Drinks</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Compote</h4>
              <span class="menu-list__dose">​150 ml</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Herbal tea</h4>
              <span class="menu-list__dose">​150 ml</span>
            </li>
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Juice</h4>
              <span class="menu-list__dose">​150 ml</span>
            </li>
          </ul>
        </li>
        <li class="menu-list__inner">
          <h3 class="menu-list__title p5">Desserts</h3>
          <ul class="menu-list__item">
            <li class="menu-list__link l2">
              <h4 class="menu-list__type l2">Fruits</h4>
              <span class="menu-list__dose">30 gr</span>
            </li>
          </ul>
        </li>
      </ul>
      <p class="menu-text p6">
        There are 5 meals a day and each and every one of them is developed in
        collaboration with a dietitian, a licensed nutritionist and a chef. We
        do not use semi-finished products and prepare meals using only fresh
        ingredients.
      </p>
    </div>
  </div>
</section>
