<section class="parents">
  <div class="parents-container container">
    <h2 class="parents-title h5">For parents</h2>
    <p class="parents-text d5">
      We have noted the most common questions we are asked. This will help
      parents to get as detailed information as possible for their children's
      future admission to our kindergarten.
    </p>
    <ul class="parents-list">
      <li class="parents-list__link d6">From what age can a child attend kindergarten?</li>
      <li class="parents-list__link d6">What documents are required for admission to kindergarten?</li>
      <li class="parents-list__link d6">How can I register my child to your kindergarten?</li>
      <li class="parents-list__link d6">Can I make a payment by instalments with you?</li>
      <li class="parents-list__link d6">Can I pay online?</li>
      <li class="parents-list__link d6">
        How do you adapt a child who visits the kindergarten for the first time?
      </li>
      <li class="parents-list__link d6">
        What methods of teaching do you use in the Kids' Force kindergarten?
      </li>
      <li class="parents-list__link d6">What about nutrition?</li>
    </ul>
  </div>
</section>
