<section class="parents">
  <div class="parents-container container">
    <h2 class="parents-title h5">For parents</h2>
    <p class="parents-text d5">
      We have noted the most common questions we are asked. This will help
      parents to get as detailed information as possible for their children's
      future admission to our kindergarten.
    </p>
    <ul class="parents-list">
      <li class="parents-list__link d6">
        <p>From what age can a child attend kindergarten?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
        <!-- <svg class="benefits-title__svg" width="42" height="31">
          <use href="./images/sprite.svg#icon-Group"></use>
        </svg> -->
      </li>

      <li class="parents-list__link d6">
        <p>What documents are required for admission to kindergarten?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>

      <li class="parents-list__link d6">
        <p>How can I register my child to your kindergarten?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>
      <li class="parents-list__link d6">
        <p>Can I make a payment by instalments with you?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>

      <li class="parents-list__link d6">
        <p>Can I pay online?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>

      <li class="parents-list__link d6">
        <p>
          How do you adapt a child who visits the kindergarten for the first
          time?
        </p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>

      <li class="parents-list__link d6">
        <p>
          What methods of teaching do you use in the Kids' Force kindergarten?
        </p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>

      <li class="parents-list__link d6">
        <p>What about nutrition?</p>
        <img class="parents-list__img" src="./images/group.png" alt="" width="42px" height="31px" />
      </li>
    </ul>
  </div>
</section>
