<section class="price">
  <div class="price-container container">
    <h2 class="price-title h5">Price</h2>
    <ul class="price-list">
      <li class="price-list__link">
        <h3 class="price-list__title t5">Short-term stay</h3>
        <ul class="price-list__panel">
          <li class="price-list__item">Developmental classes according to age</li>
          <li class="price-list__item">3 meals a day</li>
        </ul>
        <p class="price-list__text t1">Price 9,500 ₴</p>
        <button class="price-list__button">Sign up</button>
      </li>

      <li class="price-list__link">
        <h3 class="price-list__title t5">Base</h3>
        <ul class="price-list__panel">
          <li class="price-list__item">Educational activities according to the age category</li>
          <li class="price-list__item">5 meals a day</li>
        </ul>
        <p class="price-list__text t1">Price 13,500 ₴</p>
        <button class="price-list__button">Sign up</button>
      </li>

      <li class="price-list__link">
        <h3 class="price-list__title t5">Optimal</h3>
        <ul class="price-list__panel">
          <li class="price-list__item">Developmental classes according to age</li>
          <li class="price-list__item">5 meals a day</li>
          <li class="price-list__item">2 circles to choose from the proposed list</li>
        </ul>
        <p class="price-list__text t1">Price 15,000 ₴</p>
        <button class="price-list__button">Sign up</button>
      </li>

      <li class="price-list__link">
        <h3 class="price-list__title t5">VIP</h3>
        <ul class="price-list__panel">
          <li class="price-list__item">Developmental classes according to age</li>
          <li class="price-list__item">5 meals a day</li>
          <li class="price-list__item">Taking a photo album for a 1-year-old child per year</li>
          <li class="price-list__item">Birthday celebration</li>
        </ul>
        <p class="price-list__text t1">Price 15,000 ₴</p>
        <button class="price-list__button">Sign up</button>
      </li>
    </ul>
  </div>
</section>
