<section class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title h5">Reviews</h2>
    <p class="reviews-text h6">
      As children develop, so do we. We are always listening to your opinions.
      We try to be the best friends for your children. Every suggestion and
      feedback is very important for our development and strong friendship with
      kids. Thank you for leaving a significant mark in our endless stream of
      ideas, dreams and monumental work on our house of children's smiles.
    </p>
    <ul class="reviews-list">
      <li class="reviews-list__link">
        <h3 class="reviews-list__title t6">Alexandra</h3>
        <p class="reviews-list__item d1">
          We are very pleased that we chose the kindergarten "Kids' Force."
          Andriyko is happy to run every morning to the kindergarten, because
          there "amimisatol and a teacher are waiting for him to play")))). He
          seems to be a small child, but he comes home and tells us about how
          animals live in forests, what space is, how a flower grows, and that
          he always has to wash his hands before sitting down to eat so that the
          bacteria that live on the hands do not get into his tummy.
        </p>
      </li>
      <li class="reviews-list__link">
        <h3 class="reviews-list__title t6">Alexandra</h3>
        <p class="reviews-list__item d1">
          I am very interested in watching my child's development. Every day
          when I pick up my son from the kindergarten, I hear new information
          that was taught to him there. I have never regretted sending him to
          Kid's Force. I am also happy with the shelter, because I am not able
          to pick up my son due to my work. I am sure that Ostapchik is safe.
        </p>
      </li>
      <li class="reviews-list__link">
        <h3 class="reviews-list__title t6">Alexandra</h3>
        <p class="reviews-list__item d1">
          My wife and I have been looking for a kindergarten for a very long
          time that would be perfect for all our criteria. And now we have found
          it! Since our Aniuta is allergic, the food was a top priority. We
          mentioned this to the administration when entering the kindergarten,
          and we were assured that the nutrition takes into account all factors
          and the occurrence of allergic reactions is minimised. Anyuta has been
          attending the kindergarten for 6 months, and she has never had any
          allergies. We are happy that we chose this kindergarten.
        </p>
      </li>
    </ul>
  </div>
</section>
