<section class="services">
  <div class="services-container container">
    <h2 class="services-title h5">Groups of our kindergarten</h2>
    <ul class="services-list">
      <li class="services-list__link">
        <img class="services-list__image"
          src="./images/services/photo1.jpeg"
          alt=""
          width="413px"
          height="170px"
        />
        <div class="services-list__description">
          <h3 class="services-list__title l6"><span class="services-list__word">Englis</span>h</h3>
          <p class="services-list__text t4">
            In our English classes, we organise events and quests. This
            technique helps to enhance the learning process. We have a physical
            activity break with English songs. Kids'Force is taughtby native
            speakers and qualified teachers who turn complex material into an
            adventurejourney to an unknown country.
          </p>
        </div>
      </li>
      <li class="services-list__link">
        <img class="services-list__image"
          src="./images/services/photo2.png"
          alt=""
          width="413px"
          height="170px"
        />
        <div class="services-list__description">
          <h3 class="services-list__title l6"><span class="services-list__word">Lego construc</span>tion</h3>
          <p class="services-list__text t4">
            Lego construction is the development of fine motor skills, correct
            and quick orientation in space, development of attention, memory and
            creative thinking, group communication skills, dialogue, and
            expanding the understanding of the world around us. This is just a
            part of the possibilities offered by Lego classes.
          </p>
        </div>
      </li>
      <li class="services-list__link">
        <img class="services-list__image"
          src="./images/services/photo3.jpeg"
          alt=""
          width="413px"
          height="170px"
        />
        <div class="services-list__description">
          <h3 class="services-list__title l6"><span class="services-list__word">Ches</span>s</h3>
          <p class="services-list__text t4">
            Chess was invented one and a half thousand years ago, but it is
            still relevant today. There is no alternative. As in the past, so
            today, chess develops creative, abstract, analytical and logical
            thinking. It is important for us that children are broadly
            developed, which is why this "eternal" game is in our arsenal of
            activities.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
