<section class="team">
  <div class="team-container container">
 <div class="team-item">
  <h2 class="team-title h5">Our team</h2>
  <div class="gallery-icon">
    <svg class="gallery-icon__svg" width="48" height="48">
      <use href="./images/sprite.svg#icon-swiper-left"></use>
    </svg>
  
    <svg class="gallery-icon__svg" width="48" height="48">
      <use href="./images/sprite.svg#icon-swiper-right"></use>
    </svg>
  </div>
 </div>
    <div class="team-list">
      <img src="./images/team/team.jpeg" class="team-list__img" alt="" width="380px" height="550px" />
     <div class="team-list__item">
        <h3 class="team-list__title l3">Name and surname</h3>
        <h4 class="team-list__link l4">Administrator</h4>
        <p class="team-list__text t2">
          The administrator is the very first smile that will greet you in our
          establishment. Our NAME will provide all the necessary information and
          answer all your additional questions. Havingtalked to the administrator,
          you will feel the cosy atmosphere and comfortable stay of children in
          the kindergarten. We carefully and reverently choose the people with
          whom we cooperate, so each employee is a brick of perfection of our
          institution. And the administrator is not an exception. He or she is
          involved in the entire process of development of Kids' Force
          kindergarten, such as processing applications of future pupils,
          communicating directly with parents on organisational issues, and
          helping to prepare various events. This is the best friend for parents
          and children, because while the child is adapting to the group, the
          administrator will gladly have a cup of coffee with parents and focus
          them on a comfortable stay in the institution. You and your children
          will want to come back to our magical Kids' Force kindergarten again and
          again.
        </p>
     </div>
    </div>
  </div>
</section>
