<li class="groups-list__item">
  <img src="{{ image }}" alt="" width="413px" height="219px" />

  <div class="groups-list__div">
    <h3 class="groups-list__title l5">{{ title }}</h3>

    <p class="groups-list__p l6"> 
        {{ years }}
    </p>
    <div class="groups-list__class">
      <p class="groups-list__text h1">Healthy meals - five times a day</p>
      <p class="groups-list__text h1">
        Educational activities according to the age category
      </p>
      <p class="groups-list__text h1">Daily active outdoor walks</p>
      <p class="groups-list__text h1">Sweet naps</p>
      <p class="groups-list__text h1">Exciting games</p>
      <p class="groups-list__text h1">Events with different topics</p>
      <p class="groups-list__text h1">(up to 12 children per group)</p>
    </div>
    <p class="groups-list__end t1">
      Work schedule: <br />
      Mon-Fri: 8:00 - 19:00
    </p>
    <button class="groups-list__button h3">Sign up</button>
  </div>
</li>
