<section class="groups">
  <div class="groups-container container">
    <h2 class="groups-list">Our Groups</h2>

    <ul class="groups-list">
      <include src="./partials/sections/groups/card.html">
      { "title": "card title", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "card title", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "card title", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "card title", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "card title", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" }
      </include>
      
    </ul>
  </div>
</section>
