<section class="groups">
  <div class="groups-container container">
    <h2 class="groups-list">Our Groups</h2>

    <ul class="groups-list">
      <include src="./partials/sections/groups/card.html">
      { "title": "The youngest friends", "years": "2-3 years", "image":
        "./images/groups/groups1.jpg" ,
        "features":
         [
         "Healthy meals - five times a day", 
        "Educational activities according to the age category",
        "Daily active outdoor walks",
        "Sweet naps",
        "Exciting games",
        "Events with different topics",
        "(up to 12 children per group)"
        ] 
      }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "Chomusyky ('Why's')", "years": "3-4 years", "image":
        "./images/groups/groups2.jpg" ,
        "features":
        [
        "Healthy meals - five times a day", 
       "Educational activities according to the age category",
       "Daily active outdoor walks",
       "Sweet naps",
       "Exciting games",
       "Events with different topics",
       "(up to 12 children per group)"
       ] 
      }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "Scouts of the Future", "years": "4-5 years", "image":
        "./images/groups/groups3.jpg",
        "features":
        [
        "Healthy meals - five times a day", 
       "Educational activities according to the age category",
       "Daily active outdoor walks",
       "Sweet naps",
       "Exciting games",
       "Events with different topics",
       "(up to 12 children per group)"
       ] 
       }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "Chomusyky ('Why's')", "years": "5-6 years", "image":
        "./images/groups/groups4.jpg",
        "features":
        [
        "Healthy meals - five times a day", 
       "Educational activities according to the age category",
       "Daily active outdoor walks",
       "Sweet naps",
       "Exciting games",
       "Events with different topics",
       "(up to 12 children per group)"
       ] 
       }
      </include>

      <include src="./partials/sections/groups/card.html">
        { "title": "Saturday classes", "text": "Let's get ready for school together!", "years": "5-7 years", "image":
        "./images/groups/groups5.jpg",
        "features":
        [
        "Complex preparation for school", 
       "Tasty snack",
       "Events with different topics"
       ] 
       }
      </include>
      
    </ul>
  </div>
</section>
